/*
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
 /* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
@font-face {
    font-family: 'ambleregular';
    src:url(../font/Amble-Regular-webfont.ttf) format('truetype');
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background: #FFF;
}
.wrap {
	width:80%;
	margin: 0 auto;
	transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
}
.header {
	margin-top: 1%;
	background: #000080;
	height: 25%;
}
.headertop_desc{
	padding:20px 0;
	background:#222;
	border-bottom:1px solid #EEE;
}
.label2{
	font-size:1em;
}
.nav_list{
	float:left;
}
.nav_list li{
	display:inline;
	border-left: 2px ridge #3D3B3B;
}
.nav_list li a{
	font-size:0.823em;
	color:#9C9C9C;
	padding:0 10px;
	font-family: 'ambleregular';
	 -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.nav_list  li a:hover{
	color:#FFF;
}
.nav_list li:first-child{
	border:none;
}
.account_desc{
	float:right;
}
.account_desc li{
	display:inline;
	border-left: 2px ridge #3D3B3B;
}
.account_desc li:first-child{
	border:none;
}
.account_desc li a{
	font-size:0.823em;
	color:#9C9C9C;
	padding:0 10px;
	font-family: 'ambleregular';
	 -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.account_desc li a:hover{
	color:#FFF;
}
.info{
	font-weight: bold;
}
.header_top {
	padding:20px 0;
}
.courses{
	float: left;
	text-transform:uppercase;
    position: relative;
    padding: 6px;
    font-family: 'ambleregular';
}
.courses p{
	font-size:0.9em;
	display:inline-block;
}
.courses p span{
	font-size:1.5em;
	color: inherit;
	text-transform:uppercase;
	vertical-align:middle;
}
h2 {
	font-size:1.8em;
	text-align: center;

}
h3 {
	font-size:1.5em;
	text-align: left;
	font-family: 'ambleregular';
}
.link{
	font-size:0.85em;
	padding:9px 15px;
    color: #191970;
    font-family: 'ambleregular';
	text-transform:uppercase;
}
.logo {
	padding:18px 0;
	float: left;
}
.header_top_right{
	color: #FFF;
	text-align: center;
	padding:18px 0;
	margin-top: 1%;
	margin-right: 1%;
	font-size: 20px;
	font-family: 'ambleregular';
}
.login_form{
	margin-top:5%;
}

.wrapper-dropdown-2 {
    display:inline-block;
    color:#303030;
    cursor: pointer;
    outline: none;
}
.wrapper-dropdown-2:after {
    content: "";
    position: absolute;
    border-color:#FC7D01 transparent;
}
.wrapper-dropdown-2 .dropdown {
    position: absolute;
    z-index:6;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;
    opacity: 0;
    pointer-events: none;
}
.wrapper-dropdown-2 .dropdown li{
    display: block;
    text-decoration: none;
    padding: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.wrapper-dropdown-2 .dropdown li:hover a {
    color:red;
    background:#AAA;
}
.wrapper-dropdown-2.active:after {
    border-width: 0 6px 6px 6px;
}
.wrapper-dropdown-2.active .dropdown {
    opacity: 1;
}
.search_box {
	 background: url(../images/strip-bg.gif) repeat-x #F6F6F6;
	 border: 1px solid #D2D2D2;
	position: relative;
	float: left;
	margin-right: 15px;
}
.search_box form input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:0.85em;
	color: #acacac;
	font-family: 'ambleregular';
	width:74%;
	padding:9px;
	-webkit-apperance:none;
}
.search_box form input[type="submit"] {
	border: none;
	cursor: pointer;
	background: url(../images/search.png) no-repeat 0px 12px;
	position: absolute;
	right: 0;
	width: 25px;
	height:32px;
}
/**** Cart ****/

  pointer-events: auto;
}
   /**** End Cart ****/
.header_slide{
	margin-top:10px;
}
.header_bottom_left{
	float:left;
	width:25%;
}
.categories{
	border:1px solid #EEE;
}
.categories h3{
	font-size:1.2em;
	color:#FFF;
	padding:10px;
	background:#FC7D01;
	text-transform:uppercase;
	font-family: 'ambleregular';	
}
.categories li{
	background: url(../images/strip-bg.gif) repeat-x #F6F6F6;
}
.categories li a{
	font-size:0.85em;
	padding:9px 15px;
    color: #9C9C9C;
    font-family: 'ambleregular';
	display:block;
    margin:0 20px;
    background:url(../images/drop_arrow.png) no-repeat 0;
    text-transform:uppercase;	
    border-bottom: 1px solid #F1F1F1;
}
.categories li:last-child a{
	border:none;
}
.categories li a:hover{
	color:#FC7D01;
}
.header_bottom_right{
	float:left;
	width:80%;
	padding-left:1%;
}
/***** Content *****/
.content {
	padding: 20px 0;
	background: #FFF;
}
.content_top{
	padding:10px 20px;
	border: 1px solid #EBE8E8;
	background: url(../images/strip-bg.gif) repeat-x #F6F6F6;
}
.content_bottom {
	padding:10px 20px;
	border: 1px solid #EBE8E8;
	background: url(../images/strip-bg.gif) repeat-x #F6F6F6;
	margin-top: 2.6%;
}
.heading h3 {
	font-family: 'ambleregular';
	font-size:1.2em;
	color:#FC7D01;
	text-transform: uppercase;
}
/**** Grid 1_0f_5 ****/
.grid_1_of_5 {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
}
.grid_1_of_5:first-child {
}
.images_1_of_5 {
	width: 20%;
	padding:1%; 
	text-align: center;
	position: relative;
}
.images_1_of_5  img {
	max-width: 100%;

}
.images_1_of_5  h2  a{
	color:#888;
	font-family: 'ambleregular';
	font-size:1em;
	padding-top:2px;
}
.images_1_of_5  p {
	font-size: 0.8125em;
	padding: 0.4em 0;
	color: #333;
}
.images_1_of_5  p span.price {
	font-size: 18px;
	font-family: 'ambleregular';
	color:#CC3636;
}
.price-details{
	margin-top:10px;
}
.price-number{
	float: left;
}
.price-details p span.rupees{
	font-size:1.2em;
	font-family: 'ambleregular';
	color:#383838;
}
.add-cart{
	float:right;
	display: inline-block;
}
.add-cart h4 a{
	font-size:0.85em;
	display: block;
	padding:8px 10px;
	font-family: 'ambleregular';
	background:#FC7D01;
	color: #FFF;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.add-cart h4 a:hover{
	  text-shadow: 0px 0px 1px #000;
	  background:#292929;
}
/*** Footer ***/
.footer {
	position: relative;
	background: #FCFCFC;
    border-top: 1px solid #CECECE;
    margin:20px auto;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before, .group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
}
.col_1_of_4 {
	display: block;
	float: left;
	margin:0% 0 1% 3.6%;
}
.col_1_of_4:first-child {
	margin-left: 0;
}/* all browsers except IE6 and lower */
.span_1_of_4 {
	width: 20.5%;
	padding:1.5% 1.5% 0 0;
	border-left:1px solid #CECECE;
}
.span_1_of_4  h4 {
	color:#4F4F4F;
	margin-bottom: .5em;
	font-size: 1.2em;
	line-height: 1.2;
	font-family: 'ambleregular';
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	border-bottom: 1px solid #CECECE;
	padding-bottom: 0.5em;
	padding-left:20px;
}
.span_1_of_4 ul{
	padding-left:20px;
}
.span_1_of_4  li a {
	font-size: 0.8125em;
	padding: 0.4em 0;
	color:#9C9C9C;
	font-family: 'ambleregular';
	display: block;
}
.span_1_of_4  li span{
	font-size:1em;
	font-family: 'ambleregular';
	color:#2A5C86;
	cursor:pointer;
	margin:10px 0;
	display:block;
}
.span_1_of_4  li a:hover, .span_1_of_4  li span:hover {
	color:#FC7D01;
}
/*** Social Icons ***/
.social-icons {
	padding-top: 8%;
}
.social-icons li {
	padding: 0px 5px 0 5px;
	margin: 0;
	display: inline-block;
	cursor: pointer;
	background:#222;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}
.social-icons li:hover {
	background:#000;
}
.social-icons li a img{
	vertical-align:middle;
}
.copy_right {
	text-align: center;
	border-top: 1px solid #EEE;
	padding: 10px 0;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.copy_right p {
	font-size:0.823em;
	color: #747474;
}
.copy_right p a {
	color:#FC7D01;
	font-family: 'ambleregular';
	text-decoration: underline;
}
.copy_right p a:hover {
	color:#222;
	text-decoration: none;
}
/*** move top **/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow_up.png) no-repeat right top;
}
#toTopHover {
	width: 48px;
	height: 48px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
#toTop:active, #toTop:focus {
	outline: none;
}

/*  Preview  ============================================================================= */
.back-links {
	float: left;
	padding-top: 5px;
}
.back-links p {
	font-size: 0.8125em;
	color: #333;
}
.back-links p a {
	font-size: 0.9em;
	padding: 0 1.3%;
	color: #333;
	font-family: 'ambleregular';
}
.back-links p a:hover, .back-links p a.active {
	color:#FC7D01;
}
.image {
	clear: both;
	padding: 0px;
	margin: 0px;
	padding: 1.5%;
}
.group:before, .group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
}
.cont-desc {
	display: block;
	float: left;
	clear: both;
}
.rightsidebar {
	display: block;
	float: left;
	margin: 0% 0 0% 1.6%;
}
.cont-desc:first-child {
	margin-left: 0;
}
.desc {
	display: block;
	float: left;
	margin: 0% 0 0% 2.6%;
}
.product-details{
	margin:30px 0;
}
.span_1_of_2 {
	width: 67.1%;
	padding: 1.5%;
}
.images_3_of_2 {
	width: 44.2%;
	float: left;
	text-align: center;
}
.span_3_of_2 {
	width: 53.2%;
}
.span_3_of_1 {
	width: 25.2%;
	padding: 1.5%;
}
.images_3_of_2  img {
	max-width: 100%;
	display:block;
	border: 1px solid #DFDFDF;
}
.span_3_of_2  h2 {
	font-family: 'ambleregular';
	font-size: 1.2em;
	color:#FC7D01;
	font-weight: normal;
	margin-top: 0px;
	text-transform: uppercase;
}
.span_3_of_2  p{
	font-size: 0.8125em;
	padding: 0.3em 0;
	color: #969696;
	line-height: 1.6em;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
.price p {
	font-size: 0.85em;
	padding:20px 0;
	color: #666;
	vertical-align: top;
}
.price p span {
	font-size:2em;
	font-family: 'ambleregular';
	color:#FC7D01;
}
.available {
	padding: 10px 0;
	border-top: 1px solid #EBEBEB;
}
.available li span{
	font-size:1em;
	color: #333;
	font-family: 'ambleregular';
}
.available li {
	display:block;
	color:#707070;
	font-size:1em;
	padding:5px 0;
}
.share-desc{
	margin-bottom:15px;
}
.share{
	float:left;
}
.share p {
	padding-top: 10px;
	font-size:1em;
	color: #333;
	display:inline;
	font-family: 'ambleregular';
}
.text_box{
	display:inline;
	width:60px;
	padding:3px 5px;
	outline:none;
	margin-left:5px;
	font-size:1em;
	color:#444;
}
.wish-list{
	padding:15px 0;
	border-bottom: 1px solid #E6E6E6;
	border-top: 1px solid #E6E6E6;
}
.wish-list li{
	display:inline-block;
	margin-right:45px;
}
.wish-list li a{
	color: #383838;
	font-size:1em;
	font-family: 'ambleregular';
	padding-left:22px;
	text-decoration: underline;
}
.wish-list li a:hover {
	color:#FC7D01;
}
.wish-list li.wish{
	background:url(../images/wishlist.png) no-repeat 0;
}
.wish-list li.compare{
	background:url(../images/compare.png) no-repeat 0;
	margin-right:0;
}
.product_desc h2{
	font-size:1.2em;
	color: #333;
	font-family: 'ambleregular';
}
.product_desc p{
	font-size: 0.85em;
	padding:5px 0;
	color: #969696;
	line-height: 1.8em;
}
.span_3_of_2 .button {
	float: right;
}
.span_3_of_2 .button a {
	font-size:0.85em;
	display: block;
	padding:8px 10px;
	font-family: 'ambleregular';
	background:#FC7D01;
	color: #FFF;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.span_3_of_2 .button a:hover {
	 text-shadow: 0px 0px 1px #000;
	  background:#292929;
}
.sidebar h2{
	padding:10px 20px;
	border: 1px solid #EBE8E8;
	background: url(../images/strip-bg.gif) repeat-x #F6F6F6;
	font-family: 'ambleregular';
	font-size:1.2em;
	color:#FC7D01;
	text-transform: uppercase;
}
.special_movies{
	border: 1px solid #ECE9E9;
	margin-top:20px;	
}
.movie_poster{
	float:left;
	width:33%;
}
.movie_poster img{
	display:block;
	max-width:100%;
}
.movie_desc{
	float:left;
	width:55%;
	margin-left:5%;
	padding:10px;
}
.movie_desc h3 a{
	color: #888;
	font-family: 'ambleregular';
	font-size:1.2em;
}
.movie_desc p{
	font-size:1em;
	font-family: 'ambleregular';
	color:#383838;
	padding:8px 0;
}
.movie_desc p span{
	text-decoration:line-through;
	color:#888;
}
.movie_desc span a{
	font-size:0.8em;
	display:inline-block;
	padding:6px 10px;
	font-family: 'ambleregular';
	background:#FC7D01;
	color: #FFF;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.movie_desc span a:hover{
	 text-shadow: 0px 0px 1px #000;
	  background:#292929;
}
/**** End Preview Page ******/
/*  Contact Form  ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before, .group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
}
.col {
	display: block;
	float: left;
	margin:3% 0 1% 1.6%;
}
.col:first-child {
	margin-left: 0;
}
.span_2_of_3 {
	width: 63.1%;
	padding: 1.5%;
}
.span_1_of_3 {
	width: 29.2%;
	padding: 1.5%;
}
.span_2_of_3  h2, .span_1_of_3  h2 {
	font-family: 'ambleregular';
	font-size:1.2em;
	color:#333;
	text-transform:uppercase;
	margin-bottom:10px;
}
.contact-form {
	position: relative;
	padding-bottom: 30px;
}
.contact-form div {
	padding: 5px 0;
}
.contact-form span {
	display: block;
	font-size: 0.8125em;
	color: #757575;
	padding-bottom: 5px;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
.contact-form input[type="text"], .contact-form textarea {
	padding: 8px;
	display: block;
	width:98%;
	background:none;
	border:1px solid #CACACA;
	outline: none;
	color: #464646;
	font-size:1em;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-appearance: none;
}
span input[type="password"]{
padding: 8px;
	display: block;
	width:98%;
	background:none;
	border:1px solid #CACACA;
	outline: none;
	color: #464646;
	font-size:1em;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-appearance: none;
}
.contact-form textarea {
	resize: none;
}
.mybutton1 {
	font-size:1em;
	padding:10px 25px;
	font-family: 'ambleregular';
	background:#000080;
	text-transform:uppercase;
	color: #FFF;
	border:none;
	text-decoration: none;
	outline: 0;
	cursor:pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	position: absolute;
	left: 0;
	-webkit-apperance:none;
}
.mybutton1:hover {
	text-decoration:none;
	text-shadow: 0px 0px 1px #000;
	background: #191970;
	color: #FFF;
}
.mybutton {
	font-size:1em;
	margin-left: 4%;
	padding:10px 25px;
	font-family: 'ambleregular';
	background:#000080;
	text-transform:uppercase;
	color: #FFF;
	border:none;
	text-decoration: none;
	outline: 0;
	cursor:pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	position: absolute;
	left: 0;
	-webkit-apperance:none;
	margin-top:4
}
.mybutton:hover {
	text-shadow: 0px 0px 1px #000;
	background: #191970;
}

.button1:hover{
	text-shadow: 0px 0px 1px #000;
	background: #292929;
}
.button1{
	background:#FC7D01;
	text-transform:uppercase;
	border:none;
	text-decoration: none;
	outline: 0;
	cursor:pointer;
	padding:10px 25px;
	font-size:1em;
	font-family: 'ambleregular';
	width:170px;
	-webkit-apperance:none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.company_address p,.company_address p span a{
	font-size: 0.85em;
	color: #757575;
	padding:5px 0;
	font-family: Arial, Helvetica, sans-serif;
}
.company_address p span a{
	text-decoration: underline;
	color: #444;
	cursor: pointer;
}
.company_address p span a:hover{
	text-decoration:none;
}
.map {
	margin-bottom: 15px;
}
/**** Responsive Layout ****/
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.wrap{
		width:90%;
	}
}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	.wrap{
		width:90%;
	}
}
@media only screen and (max-width: 1024px) {
	.wrap {
		width: 90%;
	}
	.movie_desc{
		width:50%;
	}
	.movie_desc p{
		font-size:0.8em;
	}
}
@media only screen and (max-width: 800px) {
	.wrap {
		width: 95%;
	}
	.rightsidebar{
		margin:0;
	}
	.span_1_of_2{
		width:94%;
		padding:3%;
	}
	.span_3_of_1{
		width:94%;
		padding:3%;
	}
	.movie_desc {
		margin-left:0;
	}
	.movie_desc p{
		font-size:1.2em;
		padding:10px 0;
	}
}

@media only screen and (max-width: 640px) {
	.wrap {
		width: 95%;
	}
	.account_desc li a{
		padding:0 5px;
	}
	.cart{
		padding: 6px 50px 6px 15px;
	}
	.header_bottom_right{
		float:none;
		width:100%;
		padding-left:0;
		margin-top:10px;
	}
	.header_bottom_left{
		float:none;
		width:100%;
	}
	.images_1_of_5{
		width: 28.72%;
	}
	.col_1_of_4{
		margin:10px 0;
	}
	.span_1_of_4{
		width:100%;
		padding:0%;
	}
	.wish-list li{
		margin-right:15px;
	}
	.col{
		margin:2% 0;
	}
	.span_2_of_3,.span_1_of_3 {
		width:94%;
		padding:3%;
	}
	.contact-form input[type="text"], .contact-form textarea{
		width:95%;
	}
}
@media only screen and (max-width: 480px) {
	.wrap {
		width: 95%;
	}
	.headertop_desc{
		padding:10px 0;
	}
	.header_top{
		padding:0;
	}
	.logo{
		float:none;
		text-align:center;
	}
	.header_top_right{
		float:none;
		padding:5px 0;
	}
	.nav_list li a,.account_desc li a{
		font-size:0.7em;
		padding:0 2px;
	}
	.images_1_of_5 {
		width: 44.72%;
	}
	.images_3_of_2,.span_3_of_2{
		width:100%;
	}
	.desc{
		margin:10px 0;
	}
	.product-details{
		margin:0;
	}
}
@media only screen and (max-width: 320px) {
	.wrap {
		width: 95%;
	}
	.nav_list,.account_desc{
		width:100%;
		text-align:center;
	}
	.account_desc{
	   margin-top:5px;	
	}
	.cart{
		float:none;
		margin-bottom:5px;
	}
	.search_box{
		float:none;
		width:100%;
		margin-right:0;
	}
	.price p{
		padding:10px 0;
	}
	.content{
		padding:0;
	}
	.grid_1_of_5{
		margin:10px 5px;
		
	}
	.images_1_of_5{
		width:50.5%;
		padding:1.5%;
	}
	.images_1_of_5 h2 a{
		font-size:0.75em;
	}
	.price-number,.add-cart{
		float:none;
		text-align:center;
	}
	.price-details{
		margin-top:0;
	}
	.wish-list li a{
		font-size:0.85em;
	}
	.movie_desc p{
		font-size:0.8em;
		padding:5px 0;
	}
	.contact-form input[type="text"], .contact-form textarea{
		width:93%;
	}
}
